input{
    width: 48%;
    height: 45px;
    border-radius: 5px;
    margin: 10px 0px;
    border: 1px solid rgb(201, 201, 201);
    outline: none;
    padding: 10px;
    font-size: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button{
    height: 45px;
    width: 48%;
    background-color: var(--mcolor);
    border: none;
    color: #ffffff;
    font-size: 15.5px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: .2s;
}

.loop_wrapper a{
    background-color: var(--mcolor);
    border: none;
    color: #ffffff;
    font-size: 15.5px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: .2s;
    padding: 10px 5px;
    text-decoration: none;
}


button:hover , .loop_wrapper a:hover{
    background-color: #2674f1;
}


.loop_wrapper a , .loop_wrapper .clear_wrapper{
    display: block;
    margin: 20px auto;
    width: 40%;
    padding: 13px 0px;
    text-align: center;
}

.clear_wrapper{
    background-color: transparent;
    border: 4px solid #222222;
    border-radius: 5px;
}

.clear_wrapper button{
    width: 88%;
}

.loop_wrapper{
    padding: 20px 0px;
}

.button_wrapper , .input_wrapper , .result{
    display: flex;
    justify-content: space-between;
}

.input_wrapper{
    margin-bottom: 10px;
}

.button_wrapper{
    margin-bottom: 20px;
}

.result ul {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    background-color: #fbfbfb;
    list-style: none;
    display: flex;
    border: 1px solid #e3e3e3;
}

.result .even_odd_wrapper h3{
    color: #222222;
    text-transform: capitalize;
    font-weight: 550;
    text-align: center;
    margin-bottom: 10px;
    font-size: 17px;
    width: 100%;
}


.even_odd_wrapper{
    width: 48%;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 15px;
    height: fit-content;
}


.result ul li {
    display: inline-block;
    border: 2px solid var(--mcolor);
    margin: 3px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
